<header class="p-1">
  <div class="pl-2 pr-2 row m-0 d-flex justify-content-center align-items-center border-bottom border-secondary">
    <div class="col col-2">
      <div class="d-inline-block p-1 ml-5 mr-2 mt-1 mb-1">
        <a href="#" class="text-decoration-none text-white" *ngIf="false">Vortex</a>
      </div>
    </div>
    <div class="col col-7 pl-5">
      <div class="d-inline-block p-1 ml-5 mr-2 mt-1 mb-1">
        <a href="#" class="text-decoration-none text-light">Tutorial</a>
      </div>
      <div class="d-inline-block p-1 ml-3 mr-2 mt-1 mb-1">
        <a href="#" class="text-decoration-none text-light">Documentation</a>
      </div>
      <div class="d-inline-block p-1 ml-3 mr-2 mt-1 mb-1">
        <a href="#" class="text-decoration-none text-light">Contact</a>
      </div>
    </div>
    <div class="col col-3 d-inline-flex justify-content-end align-items-center">
      <div class="d-inline-block p-1 ml-2 mr-0 mt-1 mb-1">
        <a routerLink="/sign-in" class="text-decoration-none text-light btn bg-transparent rounded-0 outline-none box-shadow-none">Authenticate</a>
      </div>
      <span class="text-light">or</span>
      <div class="d-inline-block p-1 ml-2 mr-2 mt-1 mb-1 mr-4">
        <a routerLink="/registration" class="text-decoration-none text-light bg-transparent outline-none box-shadow-none">Register</a>
      </div>
    </div>
  </div>
</header>
