<div class="container-fluid m-0 p-1 row h-100">
  <div class="col col-10 p-5 h-100">
    <div class="mt-5 ml-5 text-light header">
      <h1 class="ml-5 pl-5">Design database online</h1>
    </div>
    <div class="mt-4 ml-5 pl-5">
      <div class="ml-5 d-inline-block position-relative option-btn">
        <a [routerLink]="[ '/master/storage']"
          class="d-block btn cursor-pointer rounded-0 border border-white text-decoration-none outline-none box-shadow-none">
          Try it now</a>
      </div>
      <div class="ml-1 d-inline-block try-btn position-relative option-btn">
        <a href="#"
          class="d-block btn cursor-pointer rounded-0 text-white text-decoration-none outline-none box-shadow-none">
          <span class="mr-2">Tutorial</span>
          <span>&rarr;</span>
        </a>
      </div>
    </div>
    <div class="mt-5 ml-5 text-light header">
      <p class="ml-5 pl-5">This project aims to ease the work needed to create the tables of a database and the links
        between them. The application proposes a table creation system that any user, regardless of the level of
        knowledge about databases, can use and understand easily. Using this application, both the time and effort
        required to create a database are greatly reduced, giving the programmer time to focus on more important things.
      </p>
      <p class="ml-5 pl-5">
        The application allows creating multiple database charts and saving these charts for later reuse.
        Share with other people. Share your projects with others in a light and efficient way. The application offers
        the possibility of teamwork. Several people can work on the same chart at the same time. Changes to one of the
        participants can be seen by others without the need for the page to be reloaded.
      </p>
      <p class="ml-5 pl-5">
        Organize your tables in the work area as you wish. You can create relationships between tables, add or delete
        constraints. Modify the size of a table. You get to a much easier table by pressing the Ctrl + Shif + F
        combination you can look for a table by name. Generate SQl based on the diagram, only the diagram is a valid
        one. </p>
    </div>
  </div>
  <div class="col col-2 d-inline-flex justify-content-end pt-5 h-100">
    <app-social></app-social>
  </div>
</div>