<div class="p-2 h-100">
  <div class="p-2 d-flex justify-content-between align-items-center">
    <div class="d-inline-block image-container p-2">
        <img src="../../../../assets/gallery/first.png" class="w-100 h-100 rounded image cursor-pointer">
    </div>
    <div class="d-inline-block image-container p-2">
      <img src="../../../../assets/gallery/second.png" class="w-100 h-100 rounded image cursor-pointer">
    </div>
    <div class="d-inline-block image-container p-2">
      <img src="../../../../assets/gallery/third.png" class="w-100 h-100 rounded image cursor-pointer">
    </div>
    <div class="d-inline-block image-container p-2">
      <img src="../../../../assets/gallery/four.png" class="w-100 h-100 rounded image cursor-pointer">
    </div>
  </div>

  <div class="p-2 d-flex justify-content-between align-items-center">
      <div class="d-inline-block image-container p-2">
          <img src="../../../../assets/gallery/nine.png" class="w-100 h-100 rounded image cursor-pointer">
      </div>
      <div class="d-inline-block image-container p-2">
        <img src="../../../../assets/gallery/six.png" class="w-100 h-100 rounded image cursor-pointer">
      </div>
      <div class="d-inline-block image-container p-2">
        <img src="../../../../assets/gallery/seven.png" class="w-100 h-100 rounded image cursor-pointer">
      </div>
      <div class="d-inline-block image-container p-2">
        <img src="../../../../assets/gallery/eight.png" class="w-100 h-100 rounded image cursor-pointer">
      </div>
    </div>

</div>